<html>
    <head>
        <title>Parabens pelos seus trades!</title>
    </head>
    <body>
        <table border="0" cellspacing="0" cellpadding="0" align="center" width="600" style="width: 600; text-align: center">
            <tr>
                <td align="center">
                    <h1>Parabens <%= nome %>!</h1>
                    <p>Ontem voce lucrou <strong><%= lucro %></strong> operando na CryptoTrade!</p>

                    <a href="<%= linkDaCryptoTrade %>" target="_blank">Ver as cotacoes de hoje</a>

                    <p>Bons trades!</p>
                    <small>Equipe CryptoTrade</small>
                </td>
            </tr>
        </table>
    </body>
</html>
