<html>
    <head>
        <title>Confirme sua conta!</title>
    </head>
    <body>
        <table border="0" cellspacing="0" cellpadding="0" align="center" width="600" style="width: 600; text-align: center">
            <tr>
                <td align="center">
                    <h1>Aioo <%= nome %></h1>
                    <p>Seja muito bem vindo à CryptoTrade!</p>

                    <a href="<%= linkDeConfirmacao %>" target="_blank">Clique aqui para confirmar sua conta</a>

                    <p>Se o botão não abrir, copie e cole este endereço no navegador:</p>
                    <p style="word-break: break-all;"><%= linkDeConfirmacao %></p>
                </td>
            </tr>
        </table>
    </body>
</html>